body{
}
header{
    background-color:#405d27;
}
h3{
    padding: 1.5%;
    text-shadow: 1px 2px white;
}
.head{
    width: 100%;
    margin-left: 1%;
}
.menu{
    width: 70%;
    padding-top: 1%;
}
.offcanvas-body :hover{
background-color: darkgreen;
color: white;
cursor: pointer;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 2%;
}
.container-fluid{
    display: flex;
    padding:2px;
}
.card{
    border:1px solid tomato;
    border-style: groove;
    border-width:2%;
    max-width:100%;
    width:70%;
}
.owl-carousel{
width: 100%;
}

 #id, #download, #print, #ed, #social{
    height:20rem;
    width: 100%;
}
#flyer{
    height: 18rem;
}
.information{
background-color:#f0f0f0;
display: flex;
justify-content: space-between;
overflow: hidden;
}
li{
    color: green;
    text-shadow:1.5px 0.5px black;
}
.Head{
    height: 20rem;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #405d27;
    max-width: 100%;
}
.About{
    max-width: 100%;
    width: 60%;
}

@media only screen and (max-width:600px){
h3{
    font-size:small;
    text-shadow: 1px 1px white;
}
nav{
    padding:0.2%;
}
.card{
    font-size: smaller;
    max-width:100%;
    margin-left:22%;
}
.status{
   width: 100%;
   padding-left:2%;
   display: block;
}
.text{
    width:50%;
    font-size: smaller;
    padding-left: 5%;
width: 100%;
margin-left: -6%;
}
.container-fluid{
    display: block;
}
.owl-carousel{
    max-width:100%;
    width:100%;
}
.card button{
width:5rem;
height:4rem;
font-size:15px;
}
#flyer, #id, #print,#id,#download,#ed, #social{
    height:15%;
    width: 100%;
}
#ed{
    height:9.3rem;
}
#id{
    height:9.3rem;
}
.information{
    display: block;
    text-align: center;
}
footer{
    display: block;
    text-align:center;
    max-width: 100%;
    width: 100%;
}
.About{
    max-width: 100%;
    width:100%;
}
}
@media only screen and (max-Width:768px) {
.text{
    width:100%;
    padding: 3%;
}
#Card{
    width: 10%;
    height: 25rem;
    padding: 3%;
}
}